
.NC { color:#004080 }
.PG { color:#008000 }
.RW { font-weight:bold; color:#000080 }
.PM { color:#004080}
.PD { color:#008000}
.PI { font-weight:bold; color:#008000}
.LB { color:#800000}
.CC { color:#004080}
.CM { FONT-STYLE: italic; color:#008000}

FONT.large {font-size:150%}
FONT.larger {font-size:200%}
FONT.bb {FONT-WEIGHT: bold; COLOR:blue}
FONT.my {background-color:yellow}
FONT.sublng {background-color:#E2E2E2}
SPAN.special { font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", "Helvetica", "Arial", "sans-serif"; }

.line
{
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0.5em;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
   MARGIN-LEFT: 0.2em;
   MARGIN-RIGHT: 0.2em;
   MARGIN-TOP: 0.1em;
   MARGIN-BOTTOM: 0.1em;
   POSITION: relative;
   BORDER-BOTTOM: #aaa 1px solid;
}

.NPF { color:#0000ff; }

FONT.large {font-size:150%}
FONT.larger {font-size:200%}
FONT.bb {FONT-WEIGHT: bold; COLOR:blue}
FONT.my {background-color:yellow}

.mono
{
   font-family: Courier New, monospace;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
   MARGIN: 0em 0px 0px 0em;
}

.content {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
   MARGIN: 0.1em 0px 0px 0.1em;
   BACKGROUND-COLOR: #ffffff;
   BORDER: none;
   font-family:Arial;
   font-size:100%
}

.header {
   PADDING-RIGHT: 0.2em;
   PADDING-LEFT: 0.2em;
   PADDING-BOTTOM: 0.2em;
   PADDING-TOP: 0.2em;
   MARGIN: 0px 0px 0px 0px;
   POSITION: relative;
   BORDER: none;
   BACKGROUND-COLOR: #FFFFB7;
}

.info {
   PADDING-RIGHT: 0.2em;
   PADDING-LEFT: 0.2em;
   PADDING-BOTTOM: 0.2em;
   PADDING-TOP: 0.2em;
   MARGIN: 0px 0px 0px 0px;
   POSITION: relative;
   BORDER: none;
   BACKGROUND-COLOR: #FFFFB7;
   font-family:Arial;
   font-size:60%
}

DIV.textright {
  MARGIN: 0.3em 0.0em 0.3em 0.8em;
  CLEAR: right;
  FLOAT: right;
  BACKGROUND-COLOR: transparent;
}

DIV.textleft {
  MARGIN: 0.3em 0.8em 0.3em 0.0em;
  CLEAR: left;
  FLOAT: left;
  BACKGROUND-COLOR: transparent;
}

DIV.divinner {
  MARGIN: 0.0em 0.0em 0.0em 0.0em;
  TEXT-ALIGN: left;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.content {
  MARGIN: 0px 0px 0px 0px;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.divhead {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-WEIGHT: bold;
  FONT-SIZE: 100%;
  BACKGROUND-COLOR: #efefef
}

DIV.headsmall {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: smaller;
  FONT-WEIGHT: bold;
  BACKGROUND-COLOR: #efefef
}

DIV.divfoot {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: 94%;
}

A.NavToggle {
  FONT-WEIGHT: normal;
  FONT-SIZE: smaller;
  PADDING-LEFT: 1em;
}

PRE.text {
   font-family: Courier New, monospace;
   font-family: Courier New, monospace;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
   MARGIN: 0em 0px 0px 0em;
}
.list {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   FONT-SIZE: 95%;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
}


UL.list {
  MARGIN: 0px 0px 0px 1.5em;
  LIST-STYLE-TYPE: square
}

OL.list {
  LIST-STYLE-IMAGE: none;
  MARGIN: 0px 0px 0px 1.5em;
}

LI {
	MARGIN-BOTTOM: 0px
	MARGIN-TOP: 0px
  FONT-SIZE: 95%;
}

DT {
	FONT-WEIGHT: bold;
  FONT-SIZE: 95%;
}

DL {
	MARGIN-TOP: 0px;
  MARGIN-BOTTOM: 0px;
  FONT-SIZE: 95%;
}

DD {
	MARGIN-BOTTOM: 0px;
  MARGIN-LEFT: 2em;
  FONT-SIZE: 95%;
}

TABLE.standard {
   BORDER-LEFT: #aaaaaa 1px solid;
   BORDER-RIGHT: #aaaaaa 1px solid;
   BORDER-TOP: #aaaaaa 1px solid;
   BORDER-BOTTOM: #aaaaaa 1px solid;
   BORDER-COLLAPSE: collapse
}
TABLE.standard TH {
   BORDER-LEFT: #aaaaaa 1px solid;
   BORDER-RIGHT: #aaaaaa 1px solid;
   BORDER-TOP: #aaaaaa 1px solid;
   BORDER-BOTTOM: #aaaaaa 1px solid;
   PADDING-LEFT: 0.2em;
   PADDING-RIGHT: 0.2em;
   BACKGROUND-COLOR: #eeeeff
}
TABLE.standard TD {
   BORDER-LEFT: #aaaaaa 1px solid;
   BORDER-RIGHT: #aaaaaa 1px solid;
   BORDER-TOP: #aaaaaa 1px solid;
   BORDER-BOTTOM: #aaaaaa 1px solid;
   PADDING-LEFT: 0.2em;
   PADDING-RIGHT: 0.2em;
}

TABLE.tiles {
  BORDER-COLLAPSE: separate; border-spacing: 2px
}
TABLE.tiles TH {
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  BACKGROUND-COLOR: #eeeeff;
}
TABLE.tiles TD {
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  BACKGROUND-COLOR: #f0f0f0;
}

TABLE.simple {
  BORDER-LEFT-COLOR: #aaaaaa;
  BORDER-RIGHT-COLOR: #aaaaaa;
  BORDER-TOP-COLOR: #aaaaaa;
  BORDER-BOTTOM-COLOR: #aaaaaa;
  BORDER-COLLAPSE: collapse;
}
TABLE.simple TH {
  BORDER-LEFT-COLOR: #aaaaaa;
  BORDER-RIGHT-COLOR: #aaaaaa;
  BORDER-TOP-COLOR: #aaaaaa;
  BORDER-BOTTOM-COLOR: #aaaaaa;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
}
TABLE.simple TD {
  BORDER-LEFT-COLOR: #aaaaaa;
  BORDER-RIGHT-COLOR: #aaaaaa;
  BORDER-TOP-COLOR: #aaaaaa;
  BORDER-BOTTOM-COLOR: #aaaaaa;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
}

TABLE.wikitable {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
  BACKGROUND: #f9f9f9;
  BORDER-COLLAPSE: collapse;
}
TABLE.wikitable TH {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
  BACKGROUND-COLOR: #eeeeff;
}
TABLE.wikitable TD {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
}

TABLE.prettytable {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
  BORDER-COLLAPSE: collapse;
  BACKGROUND: #f9f9f9;
}
TABLE.prettytable TH {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
	BACKGROUND: #f2f2f2;
}
TABLE.prettytable TD {
  BORDER-LEFT: #aaaaaa 1px solid;
  BORDER-RIGHT: #aaaaaa 1px solid;
  BORDER-TOP: #aaaaaa 1px solid;
  BORDER-BOTTOM: #aaaaaa 1px solid;
}

TABLE.hide {
   BACKGROUND-COLOR: transparent;
}
TABLE.hide TH {
   PADDING-LEFT: 0.2em;
   PADDING-RIGHT: 0.2em;
}
TABLE.hide TD {
   PADDING-LEFT: 0.2em;
   PADDING-RIGHT: 0.2em;
}

TR.highlight TH { BACKGROUND-COLOR: #eeeeff }
TR.highlight TD { BACKGROUND-COLOR: #ffffee }
TR.bright TH { BACKGROUND-COLOR: #ccccff }
TR.bright TD { BACKGROUND-COLOR: #ffeecc }
TR.shadow TH { BACKGROUND-COLOR: #f0f0f0 }
TR.shadow TD { BACKGROUND-COLOR: #f0f0f0 }
TR.dark TH { BACKGROUND-COLOR: #cccccc }
TR.dark TD { BACKGROUND-COLOR: #cccccc }
TABLE TH.highlight { BACKGROUND-COLOR: #eeeeff }
TABLE TD.highlight { BACKGROUND-COLOR: #ffffee }
TABLE TH.bright { BACKGROUND-COLOR: #ccccff }
TABLE TD.bright { BACKGROUND-COLOR: #ffeecc }
TABLE TH.shadow { BACKGROUND-COLOR: #f0f0f0 }
TABLE TD.shadow { BACKGROUND-COLOR: #f0f0f0 }
TABLE TH.dark { BACKGROUND-COLOR: #cccccc }
TABLE TD.dark { BACKGROUND-COLOR: #cccccc }
TABLE TH.transparent { BACKGROUND-COLOR: transparent }
TABLE TD.transparent { BACKGROUND-COLOR: transparent }
.transparent { BACKGROUND-COLOR: transparent }

SPAN.transcript {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", "Helvetica", "Arial", "sans-serif";
  color:#0000FF;
}

H2 {
   FONT-WEIGHT: normal;
   FONT-SIZE: 150%;
   BACKGROUND: none transparent scroll repeat 0% 0%;
   PADDING-BOTTOM: 0.17em;
   MARGIN: 0px; COLOR: black;
   PADDING-TOP: 0.5em;
   BORDER-BOTTOM: #aaaaaa 1px solid
}

H3 {
   FONT-WEIGHT: normal;
   FONT-SIZE: 132%;
   BACKGROUND: none transparent scroll repeat 0% 0%;
   PADDING-BOTTOM: 0.17em;
   MARGIN: 0px; COLOR: black;
   PADDING-TOP: 0.5em;
}

H4 {
   FONT-WEIGHT: normal;
   FONT-SIZE: 116%;
   BACKGROUND: none transparent scroll repeat 0% 0%;
   PADDING-BOTTOM: 0.17em;
   MARGIN: 0px; COLOR: black;
   PADDING-TOP: 0.5em;
}

DIV.textright {
  MARGIN: 0.3em 0.0em 0.3em 0.8em;
  CLEAR: right;
  FLOAT: right;
  BACKGROUND-COLOR: transparent;
}

DIV.textleft {
  MARGIN: 0.3em 0.8em 0.3em 0.0em;
  CLEAR: left;
  FLOAT: left;
  BACKGROUND-COLOR: transparent;
}

DIV.divinner {
  MARGIN: 0.0em 0.0em 0.0em 0.0em;
  TEXT-ALIGN: left;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.content {
  MARGIN: 0px 0px 0px 0px;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.divhead {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-WEIGHT: bold;
  FONT-SIZE: 100%;
  BACKGROUND-COLOR: #efefef
}

DIV.headsmall {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: smaller;
  FONT-WEIGHT: bold;
  BACKGROUND-COLOR: #efefef
}

DIV.divfoot {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: 94%;
}

A.NavToggle {
  FONT-WEIGHT: normal;
  FONT-SIZE: smaller;
  PADDING-LEFT: 1em;
}

DIV.textright {
  MARGIN: 0.3em 0.0em 0.3em 0.8em;
  CLEAR: right;
  FLOAT: right;
  BACKGROUND-COLOR: transparent;
}

DIV.textleft {
  MARGIN: 0.3em 0.8em 0.3em 0.0em;
  CLEAR: left;
  FLOAT: left;
  BACKGROUND-COLOR: transparent;
}

DIV.divinner {
  MARGIN: 0.0em 0.0em 0.0em 0.0em;
  TEXT-ALIGN: left;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.content {
  MARGIN: 0px 0px 0px 0px;
  BACKGROUND-COLOR: transparent;
  OVERFLOW: hidden;
}

DIV.divhead {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-WEIGHT: bold;
  FONT-SIZE: 100%;
  BACKGROUND-COLOR: #efefef
}

DIV.headsmall {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: smaller;
  FONT-WEIGHT: bold;
  BACKGROUND-COLOR: #efefef
}

DIV.divfoot {
  MARGIN: 0.1em 0.1em 0.1em 0.1em;
  PADDING-LEFT: 0.2em;
  PADDING-RIGHT: 0.2em;
  OVERFLOW: hidden;
  FONT-SIZE: 94%;
}

A.NavToggle {
  FONT-WEIGHT: normal;
  FONT-SIZE: smaller;
  PADDING-LEFT: 1em;
}
.toc {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   FONT-SIZE: 95%;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
}

UL.toc {
  PADDING-LEFT: 0px;
  LIST-STYLE-IMAGE: none;
  MARGIN-LEFT: 0px;
  LIST-STYLE-TYPE: none;
  TEXT-ALIGN: left
}
UL.toc UL {
	MARGIN: 0px 0px 0px 2em
}
UL.toc UL UL {
	MARGIN: 0px 0px 0px 2em
}

A {
  BACKGROUND: none transparent scroll repeat 0% 0%;
  COLOR: #002bb8;
  TEXT-DECORATION: none
}
A:visited {
  COLOR: #5a3696
}
A:active {
  COLOR: #faa700
}
A:hover {
  TEXT-DECORATION: underline
}


.NP { color:#0000ff; FONT-WEIGHT: bold; }
.NE { color:#FF0000; }

.ref-small {
	FONT-SIZE: 80%
}
